extends layout


block content
  h1 Welcome to #[em Nyogopedia]
  
  h2 Current Entries:

  if error
    p Error getting dynamic content.
  else
    
    
    ul
      li #[strong Groups:] !{data.group_count}
      li #[strong Musicians:] !{data.musician_count}
      li #[strong Instruments:] !{data.instrument_count}

  
