extends layout

block content
  h1= 'All gamelan groups in the Niyagapedia'

  ul
  each group in group_list
    li
      h3
        a(href=group.url) #{group.name}
  else
    li There are no groups.
