extends layout

block content
  h1 #{title}: #{group.name}
  //- show musicians here

  p Do you really want to delete this Group?
    
  form(method='POST' action='')
    div.form-group
      input#groupid.form-control(type='hidden',name='groupid', required='true', value=group._id )

      button.btn.btn-primary(type='submit') Delete
