extends layout

block content
  h1 #{instrument.name} players in the Niyagapedia

  div(style='margin-left:20px;margin-top:20px')
    for musician in musician_list
      for i in musician.instruments
        if i.name==instrument.name
          h3
            a(href=musician.url) #{musician.full_name}
