extends layout

block content
  h1= 'All instruments in the Niyagapedia'
  hr
  ul
  each instrument in instrument_list
    li
      h4
        a(href=instrument.url) #{instrument.name}

  else
    li There are no instruments

block pictures
  h4
    a(href='/catalog/instrument/create') Add new instrument
