extends layout

block content
  h1= 'All instruments in the Niyagapedia'

  ul
  each instrument in instrument_list
    li
      h3
        a(href=instrument.url) #{instrument.name}

  else
    li There are no instruments
