doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')

    //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Playfair+Display" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block accordionScripts

  body
    div(class='navbar navbar-inverse navbar-fixed-top')

        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#nav-items')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Niyagapedia
        #nav-items.collapse.navbar-collapse

          ul(class='nav navbar-nav')
            li
              a(href='/catalog/groups') Groups
            li
              a(href='/catalog/musicians') Musicians
            li
              a(href='/catalog/instruments') Instruments

    .container.content
      div(class='content-col')
        block content
      div(class='picture-col')
        block pictures
