.sidebar-nav {
    min-height: 600px 
    padding-top: 20px 
    list-style: none 
    font-size: 13pt 
    background-color: #ddf 
    border-right-color: #11c 
    border-right-style: solid 
    border-right-width: thin 
}
a {
  color: #167 
}

.error-msg {
  color: red 
}

body {
  font-family: 'Libre Baskerville', serif 
  background-color: #f2f2f2 
}

label {
  font-family: sans-serif 
}

#greeting {
  list-style: none 
  margin-bottom: 20px 
  font-size: 12pt 

}

.accordion-toggle {cursor: pointer }
#addMusiciansArrow {
  cursor: pointer 
}
#deleteMusiciansArrow {
  cursor: pointer 
}
.hidden {
  height: 0!important 
}
