.sidebar-col {
  min-width: 200px;
  background-color: #DDD;
  border-right: thin solid #167;
  border-bottom: thin solid #167;
  box-shadow: 1px 1px 1px grey;
}
.sidebar-nav {
    padding: 20px 0;
    list-style: none;
    font-size: 13pt;

}

.pic-col {
  padding-top: 20px;
}

a {
  color: #167;
}

.error-msg {
  color: red;
}

body {
  font-family: 'Libre Baskerville', serif;
  background-color: #f2f2f2;
}

label {
  font-family: sans-serif;
}

#greeting {
  list-style: none;
  margin-bottom: 20px;
  font-size: 12pt;

}

.accordion-toggle {
  cursor: pointer;
}

#addMusiciansArrow {
  cursor: pointer;
}
#deleteMusiciansArrow {
  cursor: pointer;
}
.hidden {
  height: 0!important;
}
